.navigation {
    margin: 0 60px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
}

.navigation ul {
    list-style-type: none;
}

.navigation ul li {
    position: relative;
    font-weight: 100;
    margin-bottom: 10px;
    transition: 0.3s;
}

.navigation ul li a:hover {
    transition: 0.3s;
}

.navigation ul li a:hover::before {
    padding-right: 8px;
    content: "———";
}

.navigation ul li a::before {
    padding-right: 8px;
    content: "—";
}

.navigation ul li a {
    text-decoration: none;
    color: black;
}
